<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Headlines</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="index,follow" />
	<link rel="stylesheet" type="text/css" href="styles.css" />
</head>

<body>
	<h1>Headlines</h1>
	{% for article in articles %}
<b>
	
	<b><a href="{{article.link}}">{{article.title}}</a></b><br />
</b><br />
		<i>{{article.published}}</i><br />
		<p>{{article.summary}}</p>
		<hr />
	{% endfor %}
</body>
</html>
